#banner{margin:0 auto;position:relative;overflow:hidden;}
#banner ul li img{width:800px;height:300px;}
#banner ul{width:1000%;position:absolute;left:-800px;top:0;}
#banner ul li{float:left;}
#banner ol{height:32px;position:absolute;z-index: 10;opacity: 0;transition: opacity .3s;background-color:rgba(0,0,0,.15);filter: alpha(opacity=15);bottom:10px;border-radius:20px;}
#banner ol li{width:12px;height:12px;border-radius:50%;background-color: rgba(255,255,255,.4);filter: alpha(opacity=40);transition: width .3s ease-out;list-style:none;float:left;margin-left:15px;margin-top:10px;cursor:pointer;}
#banner ol li.on{width:30px;height:12px;border-radius:6px;background-color: rgba(255,255,255,.4);filter: alpha(opacity=40);transition: width .3s ease-out;}
#banner .prev,.next{width:40px;height:60px;position:absolute;opacity: 0;top:calc(50% - 30px);line-height:60px;text-align:center;font-size:50px;font-weight:600;color:#fff;cursor:pointer;}
#banner:hover .prev{opacity: 1;background-color: rgba(255,255,255,.4);filter: alpha(opacity=40);transition: width .3s ease-out;}
#banner:hover .next{opacity: 1;background-color: rgba(255,255,255,.4);filter: alpha(opacity=40);transition: width .3s ease-out;}
#banner:hover ol{opacity: 1;transition: opacity .3s;}
#banner .prev{left: 10px;}
#banner .next{right: 10px;}
