@charset "utf-8";
@import url("font-awesome/css/font-awesome.min.css");
.pointer{cursor:pointer;}
.none{display:none;}
.c9{color:#999;}
.cd{color:#ddd;}
.ellipsis{width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.searchBox{position:relative;z-index:1993;height:28px;background:#fff;padding:5px;}
.searchBox .searchwrap{display:inline-block;position:relative;width:100%;height:100%;border:1px solid #0076e3;}
.searchBox .searchwrap .inputclear{display:none;position:absolute;right:16%;top:8px;z-index:3;cursor:pointer;}
.searchBox .searchwrap input{width:85%;height:100%;border:none;text-indent:0.5em;}
.searchBox .searchwrap .searchbutton{width:15%;height: 100%;float:right;line-height:28px;text-align:center;background:#0076e3;color:#fff;cursor:pointer;font-weigth:600;}
.kimComboBox{display:inline-block;background:#fff;border:1px solid #999;margin-bottom:0;user-select:none;}
.kimComboBox .contents{display:inline-block;float:left;width:88%;height:100%;line-height:28px;text-indent:0.5em;text-align:left;font-size:14px;outline:none;overflow:hidden;}
.kimComboBox .icon{float:right;display:inline-block;width:12%;height:100%;}
.kimComboBox .icon i{display:inline-block;font-size:8px;line-height:28px;}
.kimComboBox .icon i.selectclear{float:left;display:none;cursor:pointer;}
.kimComboBox:hover .selectclear{display:block;}
.kimComboBox .icon i.sortDown{float:right;margin-right:3px;line-height:26px;}
.kimComboBoxWrap ul li{text-align:left;}
.kimComboBoxWrap ul li a:hover{background:#ccc;}

#listBox{position:relative;width:100%;height:100%;overflow:auto;}
#listBox #searchRoot{position:absolute;left:0;top:0px;z-index:1000;width:100%;height:100%;background:#fff;display:none;}
#listBox #searchRoot div{display:block;float:left;height:22px;overflow:hidden;width:22px}
#listBox #searchRoot div,#treeWrap #searchRoot a,#treeWrap #searchRoot span{display:inherit;height:22px;line-height:23px;font-size:12px;}

