@charset "utf-8";
@import url("font-awesome/css/font-awesome.min.css");
#loadingGifOverlay{position:absolute;left:0;top:0;width:100%;height:100%;z-index:1992;background:#000;}
#loadingGifBox{position:absolute;z-index:1993;text-align:center;}
#loadingGifBox .tipText{margin-top:10px;}
