@charset "utf-8";
@import url("font-awesome/css/font-awesome.min.css");
.cd{color:#ddd;}
.cb{color:#0076e3;}
.c3{color:#333;}
.c9{color:#999;}
.none{display:none;}
.block{display:block;}
#search_box{display:inline-block;position:relative;width:100%;height:100%;}
#search_box.focus{box-shadow: 0px 0px 4px #0076e3;}
#search_box.focus .searchIcon{color:#0076e3;}
#search_box.focus .inputclear{color:#0076e3;}
#search_box.focus .search_button{background:#0076e3;color:#fff;}
#search_box span{display:inline-block;height:100%;}
#search_box .search_icon{float:left;/* width:8%; */text-align:center;}
#search_box .search_main{float:left;/* width:80%; */text-align:center;overflow:hidden;}
#search_box .search_main .search_me{float:left;}
#search_box .search_main .search_in{float:left;height:100%;width:93%;border:none;text-indent:0.2em;outline:none;}
#search_box .search_button{position:relative;float:right;/* width:12%; */cursor:pointer;text-align:center;font-weight:600;}
#search_box .search_button .rightArrow{position:absolute;color:#fff;left:-1px;}
#search_box .inputclear{position:absolute;right:13%;z-index:3;cursor:pointer;}
#search_box .inputclear.none{display:none;}
#search_box .inputclear.block{display:block;}
#search_list{width:100%;position:absolute;z-index:100;}
#search_list li{text-align:left;}
#search_list li a{display:inline-block;width:100%;padding:8px 0;text-indent:0.5em;}